<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957645126050-30l32ijutlj9ekreb8u31j6fu236hnbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957645126050-30l32ijutlj9ekreb8u31j6fu236hnbq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>957645126050-kt1mjpeqs6hu35ge5t3d0j45jl4uc5s3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpofT6T4QZr5j7NjZASozDUOfs-t32nYY</string>
	<key>GCM_SENDER_ID</key>
	<string>957645126050</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trafficRouting</string>
	<key>PROJECT_ID</key>
	<string>traffic-routing-73483</string>
	<key>STORAGE_BUCKET</key>
	<string>traffic-routing-73483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957645126050:ios:86d08c71ce9d831c565afb</string>
	<key>DATABASE_URL</key>
	<string>https://traffic-routing-73483-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>